<!-- ko allowBindings: true -->
<div class="jog-panel" id="LightControlsHttp">
    <h1>Lights</h1>
      <table style="margin-top: -4px;">
      <tbody data-bind="foreach: lights" style="padding: 0px;">
          <tr style="padding: 0px;">
              <td style="padding: 0px;">
                <span data-bind="text: name"></span>
                <input type="range" min="0" max="100" value="0" style="padding: 0; width: 98%; margin-top: -8px;" class="slider" style: "min-width: 150px;" data-bind="value: light_val, valueUpdate: 'input'">
              </td>
              <td style="padding: 0px;">
                <div class="input-append control-box" style="margin-bottom: 0px; padding-left: 8px;">
                    <input type="number" class="input-mini" min="0" max="100" step="5" data-bind="textInput: light_val">
                    <span class="add-on">%</span>
                </div>
              </td>
          </tr>
      </tbody>
    </table>
</div>
<!-- /ko -->
