<!-- ko allowBindings: true -->
<form id="settings_plugin_LightControlsHttp_form" class="form-horizontal">
    <h2>{{ _('Light Controls') }}</h3>
    <div class="alert alert-info">Note: Names and Urls must be unique! Otherwise it will pick a random one</br></div>
    <div class="alert alert-info">Values are expressed in percentages (0-100%), but will fill out the '{value}' part of the url with a number in the range 0-255</br></div>
    <div class="alert alert-info">eg. url '/lights?value={value}' will send '/lights?value=0' for 0% and '/lights?value=255' for 100%</br></div>
    <div class="row-fluid">
        <div class="span3 text-center"><h4>{{ _('Name') }}</h4></div>
        <div class="span3 text-center"><h4>{{ _('URL') }}</h4></div>
    </div>
    <div data-bind="foreach: settings.settings.plugins.LightControlsHttp.light_controls">
        <div class="row-fluid" style="margin-bottom: 5px">
            <div class="span3">
                <input type="text" class="span12 text-right" data-bind="value: name">
            </div>
            <div class="span3">
                <input type="text" class="span12 text-right" data-bind="value: light_control_url">
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="offset9 span2">
            <button title="Add Light" class="btn btn-primary" data-bind="click: addLightControl"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    
    <h3>{{ _('Set light value on Octoprint Startup / Printer Connect / Printer Disconnect') }}</h4>
    <span>Valid values from 0 (off) to 100 (on). Leave empty to leave the light state un altered when the event occurs. For non-PWM lights any value higher than 0 will turn the light on.</span>
    <div class="row-fluid">
        <div class="span3 text-center"><h4>{{ _('Light') }}</h4></div>
        <div class="span2 text-center"><h4>{{ _('on Octoprint Startup Value') }}</h4></div>
        <div class="span2 text-center"><h4>{{ _('on Connect Value') }}</h4></div>
        <div class="span2 text-center"><h4>{{ _('on Disconnect Value') }}</h4></div>   
    </div>
    <div data-bind="foreach: settings.settings.plugins.LightControlsHttp.light_controls">
        <div class="row-fluid" style="margin-bottom: 5px">
            <div class="span3" style="text-align:right; line-height: 32px;">
                <span data-bind="text: name"></span>
            </div>
            <div class="span2">
                <input type="number" min="0" max="100" class="span12 text-right" data-bind="value: onOctoprintStartValue">
            </div>
            <div class="span2">
                <input type="number" min="0" max="100" class="span12 text-right" data-bind="value: onConnectValue">
            </div>
            <div class="span2">
                <input type="number" min="0" max="100" class="span12 text-right" data-bind="value: onDisconnectValue">
            </div>
        </div>
    </div>

    <h3>{{ _('Set light value on Print Events') }}</h4>
    <span>Valid values from 0 (off) to 100 (on). Leave empty to leave the light state un altered when the event occurs. For non-PWM lights any value higher than 0 will turn the light on.</span>
    <div class="row-fluid">
        <div class="span3 text-center"><h4>{{ _('Light') }}</h4></div>
        <div class="span2 text-center"><h4>{{ _('on Start Value') }}</h4></div>
        <div class="span2 text-center"><h4>{{ _('on Pause Value') }}</h4></div>
        <div class="span2 text-center"><h4>{{ _('on Resume Value') }}</h4></div>
        <div class="span2 text-center"><h4>{{ _('on End Value') }}</h4></div>   
    </div>
    <div data-bind="foreach: settings.settings.plugins.LightControlsHttp.light_controls">
        <div class="row-fluid" style="margin-bottom: 5px">
            <div class="span3" style="text-align:right; line-height: 32px;">
                <span data-bind="text: name"></span>
            </div>
            <div class="span2">
                <input type="number" min="0" max="100" class="span12 text-right" data-bind="value: onPrintStartValue">
            </div>
            <div class="span2">
                <input type="number" min="0" max="100" class="span12 text-right" data-bind="value: onPrintPausedValue">
            </div>
            <div class="span2">
                <input type="number" min="0" max="100" class="span12 text-right" data-bind="value: onPrintResumedValue">
            </div>
            <div class="span2">
                <input type="number" min="0" max="100" class="span12 text-right" data-bind="value: onPrintEndValue">
            </div>
        </div>
    </div>
</form>
<!-- /ko -->
